.custom-body {
  margin: 0;
  background: url(img/debut_light.png);
}

.logo_bg{
	height: auto; 
	background-color: #fff;
	border: 1px solid #eaeaea;
	margin-bottom: 5px;
}

.logo {
	margin-left: 85px;
	padding: 10px; 
}

.header_logo {
	font-weight: bold;
	background-color: #d9d9d9;
	padding: 10px;
	color: #000;
	border-right: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	background-image: linear-gradient(#fff, #fafafa)
}

.squad_container {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	min-height: auto;
	padding: 10px;
	margin: 0 auto;
}

.addInput {
	padding: 10px;
	border: 1px solid #eaeaea;
	margin-bottom: 2px;
	width: 100%;
}

.addBtn_success{
	width: 100px;
	height: 35px;
	background-color: #53bf6b;
	font-weight: bold;
	border: none;
	color: #fff;
	margin-left: 1px;
	margin-top: 5px;
}

.addBtn{
	width: 100px;
	height: 35px;
	background-color: #d9d9d9;
	font-weight: bold;
	border: none;
	color: #000;
	margin-left: 1px;
	margin-top: 5px;
	border: 1px solid #eaeaea;
	background-image: linear-gradient(#fff, #fafafa);
}

.addBtn_danger{
	width: 100px;
	height: 35px;
	background-color: #ff2900;
	font-weight: bold;
	border: none;
	color: #fff;
	margin-left: 1px;
	margin-top: 5px;
}

.adminSelect {
	margin-top: 5px;
	border: 1px solid #eaeaea;
	width: 100px;
	height: 40px;
}

.adminInput{
	margin-top: 5px;
	border: 1px solid #eaeaea;
	width: 100px;
	height: 40px;	
}

.addInput:focus {
	border: 1px solid #53bf6b;
}

.alert {
	margin: 0 auto;
}

.box{
	height: auto;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #eaeaea;
	margin-bottom: 5px;
}

.header_left {
	font-weight: bold;
	background-color: #d9d9d9;
	padding: 10px;
	color: #000;
	border-right: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	background-image: linear-gradient(#fff, #fafafa)
}

.header_squad {
	background-color: #d9d9d9;
	font-weight: bold;
	padding: 10px;
	color: #000;
	border-right: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	background-image: linear-gradient(#fff, #fafafa)
}

.squad_content {
	background-color: #fff;
	margin-bottom: 5px;
	margin-bottom: 50px;
	border-right: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
}


.table-striped-custom > tbody > tr:nth-child(1*2) > td,
.table-striped-custom > tbody > tr:nth-child(odd) > th {
  background-color: #252525;
  color: #ccc;
}

.table-custom th{
	padding: 12px;
	border-bottom: 1px solid #eaeaea;
	color: #000;
}

.table-custom td{
	padding: 12px;
	color: #000;
}

.remark{
	border-bottom: 1px solid #eaeaea;
}

.remark td{
	color: #a8a8a8;
}

/* @MEDIA */
@media (max-width: 1200px) {
  .squad_footer{
	display: none;
	margin-top: -25px;
  }
}
@media (min-width: 768px) {
  .squad_container{
    width: 750px;
  }
}
@media (min-width: 992px) {
  .squad_container {
    width: 970px;
  }
  .content-right{
	border-left: 1px solid #eaeaea;
	padding-left: 12px;
	margin-left: -22px;
  }
}
@media (min-width: 1200px) {
  .squad_container {
    width: 1170px;
	margin-top: 0px;
  }
  .content-right{
	border-left: 1px solid #eaeaea;
	padding-left: 12px;
	margin-left: 12px;
  }
  .left_box {
	width: 360px;
	margin-left: -11px;

  }
  .squad_box {
	margin-left: -40px;
	margin-right: -12px;
  }
  .squad_footer {
	background-color: #53bf6b;
	padding: 10px;
	color: #fff;
	text-align: right;
	font-weight: bold;
	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
  }
}

